body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlehome {
    text-align: center;
    margin-bottom: 30px;
}

.titlehome h1 {
    font-size: 25px;
    color: white;
    margin: 0;
}

.form-container {
    width: 100%;
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: white;
    font-size: 16px;
}

.input-group input[type="email"],
.input-group input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 8px;
    font-size: 16px;
    background-color: #333;
    color: white;
    box-sizing: border-box;
}

.input-group input::placeholder {
    color: #aaa;
}

/* ESTILOS PARA O CAMPO DE SENHA */
.password-input {
    position: relative;
    width: 100%;
}

.password-input input {
    width: 100%;
    padding: 12px 40px 12px 12px; /* Espaço para o ícone */
    border: 1px solid #333;
    border-radius: 8px;
    font-size: 16px;
    background-color: #333;
    color: white;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.password-input input:focus {
    outline: none;
    border-color: #4285F4;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-password svg {
    width: 20px;
    height: 20px;
    fill: #aaa;
    transition: fill 0.3s ease;
}

.toggle-password:hover svg {
    fill: #fff;
}

.login-button {
    background-color: #00e271;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin: 20px 0;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;
}

.login-button:hover {
    background-color: #00e271;
}

.register-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}

.register-link {
    color: #00e271;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
}

.register-link:hover {
    color: #00e271;
}